<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>O melhor de Recife</title>
        <script src="https://unpkg.com/feather-icons"></script>
        <link rel="stylesheet" href="style_home.css">
    </head>
        <body>

            <header>
            <div class="container1">
                <nav>
                    <div class="logo">
                        <img src="logo recife.png" height="130" width="130">
                    </div>

                    <ul>
                        <li><a href="conheça.html">Conheça</a></li>
                        <li><a href="historia.html">História</a></li>
                        <li><a href="economia.html">Economia</a></li>
                        <li><a href="politica.html">Política</a></li>
                    </ul>
                </nav>
            </div>

                    <div class="header-content">
                        <h1>Venha conosco para Recife</h1>
                        <p>Conheça Recife e seus melhores pontos turísticos, aproveite essa experiência</p>
                        <button><a href="#">Saiba mais</a></button>
                    </div>
            </header>

            <div class="introdução">
                    Conheça Recife
                </div>
                
                <div class="texto1">Recife é um município brasileiro, capital do estado de Pernambuco,<p></p>
                    localizado na Região Nordeste do país. Com área territorial de <p></p> aproximadamente
                    218 km², é  formado por uma planície aluvial,<p></p> tendo  as ilhas, penínsulas e manguezais
                    como suas principais <p></p> características geográficas.
                    <div class="img">
                        <img src="introducao.jpg">
                    </div>
            </div> 


                <section class="pacotes">

                    <div class="title-pacotes">Outras características dessa cidade</div>


                        <div class="pacotes-cards">

                            <div class="card">
                                <img class="card-image" src="cultura-card.jpg">
                                <div class="card-content1">
                                    <h1>Cultura</h1> 
                                    <p>Veja a cultura recifiense e suas diversidades na gastronomia, arquitetura, dança e música</p>
                                    <ul>
                                        <li><a href="card cultura.html"><i data-feather="corner-down-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card">
                                <img class="card-image" src="turismo-card.jpg">
                                <div class="card-content2">
                                    <h1>Turismo</h1> 
                                    <p>A cidade com explêndidos pontos turísticos, diversidade de lugares para sair com a família</p>
                                    <ul>
                                        <li><a href="card turismo.html"><i data-feather="corner-down-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card">
                            <img class="card-image" src="educação-card.jpg">
                            <div class="card-content3">
                                <h1>Educação</h1> 
                                <p>Com a analfebetização do nordeste, em Recife continuamos tentando mudar isso</p>
                                <ul>
                                    <li><a href="card educação.html"><i data-feather="corner-down-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>


            <section class="viagem">
                    <ul>
                        <div class="compre"><h1>Compre sua passagem e não perca essa oportunidade</h1>
                                            <p>Está esperando o que?</p>
                        </div>
                                <div class="card-passagem">     
                                    <li> 
                                        <div class="pass">
                                            <img class="voo" src="passagem.jpg">
                                            <div class="milhas-content">
                                                <h1>Compre aqui suas passagens</h1>
                                                <p>Pela 123 milhas a escolha de seus voos e hotéis é mais seguro</p>

                                                <ul>
                                                <li><a href="https://123milhas.com/" target="_blank">Comprar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>         
                                            <li><div class="careca">
                                            <img src="careca.png" height="590" width="590">
                                            </div></li>
                                </div>
                                          
                    </ul>       
            </section>

            <footer class="footer">
                <img src="logo recife.png" height="88" width="88">  
                <div class="row">
                    <div class="footer-content">
                            <div class="sites">
                                <p class="p">Parceria fictícia com 123 milhas</p><p><br>

                            Sites pesquisados:
                            <ul>
                            <li><a href="https://www2.recife.pe.gov.br/" target="_blank">https://www2.recife.pe.gov.br/</a></li>
                            <li><a href="https://gorecife.recife.pe.gov.br/" target="_blank">https://gorecife.recife.pe.gov.br/</a></li>
                            <li><a href="https://circuitodapoesia.recife.pe.gov.br/" target="_blank">https://circuitodapoesia.recife.pe.gov.br/</a></li>   
                            <li><a href="https://www.hurb.com/br/" target="_blank">https://www.hurb.com/br/</a></li>   
                            </ul>
                            </div>

                            <div class="conteúdo">
                            Pesquisa dos conteúdos:
                            <ul>
                            <li><a href="https://pt.wikipedia.org/wiki/Recife#" target="_blank">https://pt.wikipedia.org/wiki/Recife</a></li>
                            <li><a href="http://dados.recife.pe.gov.br/group/governo-e-politica" target="_blank">http://dados.recife.pe.gov.br/group/governo-e-politica</a></li>
                            <li><a href="https://mundoeducacao.uol.com.br/geografia/recife.htm#:~:text=A%20economia%20do%20Recife%20est%C3%A1,toda%20a%20regi%C3%A3o%20nordestina%20brasileira." target="_blank">https://mundoeducacao.uol.com.br/geografia/recife</a></li>
                            <li><a href="https://www.vidadeturista.com/destinos/recife-pe.html" target="_blank">https://www.vidadeturista.com/destinos/recife-pe.html</a></li>
                            
                            </ul>
                            </div>
                    </div>
                </div>
                    <p class="meurei"><br>
                    Feito pelo seu rei gutão <i data-feather="heart"></i></p>
            </footer>
                <script>
                    feather.replace()
                  </script>
        </body>
</html>